.form{
  &__wrapper{
    width: 100%;
    h2{
      margin: 1.25em 0;
      &:first-child{
        margin-top: 0;
      }
    }
  }
  &__form{
  display: flex;
  flex-direction: column;
    &__submit{
      margin-top: 1em;
      width: 50%;
      max-width: 350px;
      min-width: 150px;
    }
  }
  &__fixed-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    &__wrapper{
      margin: .5em 0;
    }
  }
}