@use "../utils" as *;
.form{
  &__wrapper{
    width: 100%;
    h2{
      margin: 1.25em 0;
      &:first-child{
        margin-top: 0;
      }
    }
  }
  &__form{
  display: flex;
  flex-direction: column;
    &__submit{
      margin-top: 1em;
      width: 50%;
      max-width: 350px;
      min-width: 150px;
      &:disabled{
        background-color: $border;
        cursor: not-allowed;
      }
      &:disabled:hover{
        background-color: $border;
      }
    }
  }
  &__day-container{
    display: grid;
    gap: 20px;
    &--fixed{
    grid-template-columns: repeat(5,1fr);
    }
    &--flexi{
    grid-template-columns: repeat(3,1fr);
    }
    &__wrapper{
      margin: 1em 0;
    }
  }
  &__calories{
    display: flex;
    justify-content: space-between;
  }
}