.app {
  display: flex;
  padding-left: 220px;
  &__main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding: 2em;
    &--form{
      justify-content: flex-start;
    }
  }
}
